<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="mt32 mb32">
		<div class="col-md-12">
			<h2 class="oe_slogan" style="font-size: 35px;">
				<b>Paiement de plusieurs facture clients paiement de plusieurs factures fournisseur.</b>
			</h2>
			<h3 class="oe_slogan" style="opacity: 1;">.</h3>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<section class="oe_container oe_dark lead">
		<div class="oe_row">
			<div class="oe_span12" style="width: 828px;">
				<div class="panel panel-primary"
					style="border-color: #528df3 !important;">
					<div class="panel-heading"
						style="background-color: #5f5e97 !important;">
						<h3 class="panel-title" style="font-size: 25px;">
							<i class="fa fa-mail-forward"></i>Fonctionnalites:
						</h3>
					</div>
					<div class="panel-body">
						<ul class="list-unstyled">
							<li><i class="fa fa-check text-primary"
								style="color: #5f5e97 !important;"></i>Payer plusieurs Invocie, facture fournisseur, note de crédit, note de débit avec paiement unique</li>
								<li><i class="fa fa-check text-primary"
								style="color: #5f5e97 !important;"></i>Effectuer un paiement unique et le montant alloué automatiquement aux factures pouvant également changer le montant alloué</li>
								
								<li><i class="fa fa-check text-primary"
								style="color: #5f5e97 !important;"></i>Paiement de facture complet et partiel.</li>
								
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	


	

	
